.btn{
    border: none;
    padding: 10px;
    background-color: rgb(106, 45, 218);
    cursor: pointer;
    border-radius:2px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

.btn:hover {
    
    background-color: rgb(112, 66, 219);
}

.slider {
    width: auto;
    height: 5px;
    background-color: rgb(155, 127, 255);
    margin: 5px;
}

.slider::-webkit-slider-thumb{
  /* -webkit-appearance: none; */
    width: 15px;
    height: 15px;
  background-color: aqua;
  cursor: pointer;
}
.slider::-moz-range-thumb{
    width: 15px;
    height: 15px;
    background-color: aqua;
    border-radius:50%
}
.slider::-ms-thumb{
    width: 15px;
    height: 15px;
    background-color: aqua;
    border-radius:50%
}
.password {

    background-color: rgb(78, 28, 214);
    padding: 10px;
    width: 300px;
    height:300px;
    border-radius: 2px;
    margin: auto;
    /* transform: translateX(200px); */
    
    /* justify-content: center; */
  
}

.password p{
    color:rgb(245, 241, 241);
    background-color: rgb(130, 88, 228);
    width: auto;
    height: 20px;
    margin-top:1px;
}

h1 {
    color:aliceblue
}

body {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

.length {
    margin-top:10px;
    margin-bottom: 10px;
}

#value {
    border-radius: 2px;
    width:50px;
    height: autox;
    text-align: center;
    margin-top: 10px;
}